.footer {
  background-color:#350463;
  color: white;
  text-align: center;
  padding: 20px 0;
  /* margin-top: 350px;  */  
  font-size: 16px;
  letter-spacing: 0.5px;
}

.footer p {
  margin: 0;
}
.footer-land {
  margin-top: 5px;
}